@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{font-family: 'Quicksand', sans-serif;}
#wrapper{
	width: 100%;
	height: auto;
	background: #1F1F1F;
}
html{
	scroll-behavior: smooth;
}
.shadow:after{
	content:'Graphic Designer';
	text-shadow: 0px 0px 15px yellow;
}
.shadow:hover:after {
	content: 'Web Designer';
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  position: absolute;
  bottom:30px;
  left: 30px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.p-25{
	font-size: 25px;
	color: aliceblue;
}
.nav{
	width: 300px;
	position: fixed;
	right: 0;
/*	float: right;*/
}
.logo{
	width: 300px;
	height: 25vh;
/*	background: #933F40;*/
	color: aliceblue;
	display: flex;
	font-size: 180px;
	font-weight: bold;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.logo a{
	color: aliceblue;
	text-shadow: 0px 0px 15px yellow;
}
.logo a{
	text-decoration: none;
}
.menu{
	width: 300px;
	height: 50vh;
/*	background: #755F7A;*/
	display: flex;
	align-content: flex-end;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	margin: 40px 0;
	padding: 20px;
/*	background: #5C707B;*/
	font-size: 40px;
}
.menu ul li a{
	text-decoration: none;
	color: aliceblue;
	border: 1px solid #1F1F1F;
}
.menu ul li a:hover{
	color: yellow;
}
.container{
	padding-top: 40px;
	width: 1200px;
	margin-left: 40px;
	position: relative;
	
/*	background: #9B6C6D;*/
}
.header{
	width: 100%;
	height: 25vh;
/*	position: absolute;*/
/*	background: #3E3E3E;	*/
}
.main{
	width: calc(100% - 300px);
	height: auto;
	position: relative;
}
.intro{
	width: 100%;
	height: 75vh;
/*	background: #5E5E48;*/
}
.intro p{
	font-size: 100px;
	color: aliceblue;
	margin-right: 20px;
}
.zombie{
	height: 150px;
	position: absolute;
	top: 20;
	left: 0;
	animation: zombie 8s infinite linear;
/*	animation-delay: 1s;*/
}
.job{
	width: 100%;
	height: 100vh;
	position: relative;
/*	background: #5C7C45;*/
}
.job p{
	font-size: 35px;
	color: aliceblue;
}
.box{
	width: 500px;
	height: 500px;
/*	background: #765D5E;*/
	position: absolute;
	left: 30px;
	top: 60px;
}
.project{
	width: calc(100% - 300px);
	height: 100vh;
	position: relative;
/*	background: #4C806F;*/
}
.sanpham{
	width: 100%;
	height: 80vh;
/*	background: #92C9B6;*/
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.zoom {
/*  background-color: green;*/
  transition: transform 0.6s; /* Animation */
  margin: 0 70px;
}
.zoom:hover {
	transform: scale(2);
  	transform-origin: center;
}
.sanpham-1{
	width: 300px;
	height: 400px;
	overflow: hidden;
/*	background: #7F696A;*/

}
.sanpham-1 img{
	width: 300px;
}
.sanpham-2{
	width: 320px;
	height: 400px;
	overflow: hidden;
/*	background: #71A65E;*/
/*	margin-right: 10px;*/
}
.sanpham-2 img{
	width: 320px;
}
.sanpham-3{
	width: 320px;
	height: 400px;
	overflow: hidden;
/*	background: #747797;*/
/*	margin-right: 10px;*/
}
.sanpham-3 img{
	width: 320px;
}
.cont-skill{
	width: 100%;
	height: 500px;
/*	background: #7E4D4E;*/
	position: absolute;
	top: 200px;
}
.cont-skill p{
	left:0;
	top: 0;
	font-size: 25px;
}
.skill{
	width: calc(100%);
	height: 100vh;
	position: relative;
/*	background: #59B7B2;*/
}
.shadow-2:after{
	content: 'Graphic Designer';
	text-shadow: 0px 0px 15px yellow;
}
.shadow-2:hover:after{
	content:'Frontend Development';
	text-shadow: 0px 0px 15px yellow;
}
/*
.gtkynang{
	left: 100px;
	top:100px;
	position: absolute;
}
*/
.tool{
	width: calc(100%);
	height: 80vh;
/*	background: #787A94;*/
	bottom: 0;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
}

.tool-box{
	width: 200px;
	height: 200px;
/*	background: #212121;*/
	margin: 50px;
}
.tool-box img{
	width: 150px;
	transition-duration: 0.5s;
}
.tool-box img:hover{
	transform: scale(1.5);
	transition-duration: 0.5s;
}
/*
.software{
	width: 800px;
	height: 100px;
	background: #5B2B2B;
	position: absolute;
	top: 300px;
	left: 500px;
}
.software-name{
	width: 800px;
	height: 100px;
	background: #5B2B2B;
	position: absolute;
	top: 500px;
	left: 500px;
}
*/
.contact{
	width: 100%;
	height: 100vh;
/*	background: #44539B;*/
}
.email{
	color: aliceblue;
	font-size: 70px;
	right: 40px;
	top:100px;
	position: absolute;
	float: right;
}
.picture {
	width: 400px;
	position: absolute;
	top: 200px;
	left: 50px;
}
.text{
	width: 400px;
	height: 300px;
/*	background: #6CA27D;*/
	position: absolute;
	top: 350px;
	left: 470px;
	color: aliceblue;
}
/*
.text:hover{
	animation-name: text;
    animation-duration: 2s;
}
@keyframes text{
	from{
		transform: translate(100px)
	}
	to{
		transform: translate(0)
	}
}
*/
@keyframes zombie{
	from{
		transform: translate(-300px)
	}
	to{
		transform: translate(1000px)
	}











